.message {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 5px;
  color: white;
}

.message__info {
  margin-left: 20px;
}

.message__info > p {
  font-size: smaller;
}

.message__timestamp {
  color: gray;
  margin-left: 10px;
  font-size: x-small;
  font-weight: 400;
}
